.container{
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
/* SITE-LEFT-MAIN  */

.site-left-main{
width: 600px;
height: 782px;
background-image: url("../img/left-bg.jpg");
background-repeat: no-repeat;
background-size:contain;
background-attachment: fixed;




}